<!DOCTYPE html>
<html>
<head>
    <style>
body {
    background: #eee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.uploaded_by {
    font-size: 80%;
    font-style: italic;
}

.container {
    background: #fff;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    margin-bottom: 15px;
}

.container .error {
    font-size: 80%;
    line-height: 150%;
    padding: 15px;
    max-height: 200px;
    overflow: auto;
    background: #eee;
}
    </style>
</head>
<body>
    <div id="root">
    </div>
</body>

<script>
function cleanText(text) {
    const e = document.createElement("p");
    e.textContent = text;
    console.log()
    return e.innerHTML;
}
async function main(rootElement, rootUrl) {
    const apps = await (await fetch(`${rootUrl}/apps`)).json()
    const appWithMeta = await Promise.all(
        apps.map(
            async (app) => ({
                ...app,
                meta: await (await fetch(app.meta_url)).json(),
            })
        )
    )
    appWithMeta.forEach(app => {
        try {
            console.log(`${app.name}: ${app.meta.static_page.error || "No error"}`)
        } catch (e) {
            console.log(`${app.name}: No static data`)
        }
    })
    const content = appWithMeta.map(app => `<li><a href="${rootUrl}/view/view.html?appName=${app.name}">${app.meta.name}</a> <span class="uploaded_by">(${app.meta.uploaded_by || "Unknown"})</span></li>`).join("")
    const errorContent = appWithMeta.filter(app => app.meta.static_page && app.meta.static_page.error).map(app => (
        `
        <a href="${rootUrl}/view/view.html?appName=${app.name}"><h3>${app.meta.name}</h3></a>
        <h4>Static</h4>
        ${app.meta.static_page.result}
        <h4>Error</h4>
        <p class="error">${cleanText(app.meta.static_page.error)}</p>`
    )).join("")
    rootElement.innerHTML = (
        `
        <div class="container"><h2>Available apps</h2><ul>${content}</ul></div>
        <div class="container"><h2>App info</h2>${errorContent}</div>
        `
    )
}
main(document.getElementById('root'), `http://${window.location.host}`)
</script>
</html>
